# ========================
# API CONFIG
# ========================
NEXT_PUBLIC_API_URL=http://localhost:4000

# ========================
# APP CONFIG
# ========================
NEXT_PUBLIC_APP_NAME=DocWise